@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


@media screen and (min-width: 768px) {
    

    :root {
        --black: #181818;
        --white: #ffffff;
        --gray: #eeeeee;
        --gray-light: #fbfbfb;
        --font-body: 'PT Sans', sans-serif;
        --font-title: 'Libre Baskerville', serif;
    }


    /** L'étoile "*" est un sélecteur universel visant
    * absolument toutes les balises HTML
    */
    *{
        margin: 0;
    }

    /* Configuration du document */
    body {
        font-family: var(--font-body);
        font-size: 16px;
        background-color: var(--gray-light);
    }

    /* Configuration de la police pour les balises heading */
    /* La virgule permet de spécifier plusieurs élements et ou CSS utilisant les 
    *même propriétés CSS
    */
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--font-title);
    }

    .contenaire {
        width: 90%;
        margin: auto;
    }

    .menu-desktop{
        display: flex;
    }

}